$bg: rgba(0, 0, 0, 0.2);
@font-face {
  font-family: "baron-neue-regular";
  src: url("./fonts/baron_neue-webfont.woff");
}

html,
body {
  height: 100%;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
strong,
a {
  font-family: "baron-neue-regular", "Helvetica", "Arial" !important;
  font-weight: 400 !important;
  letter-spacing: 2px !important;
}

p {
  text-align: left;
  color: #8d8d8d;
  text-transform: lowercase;
  box-sizing: inherit !important;
  font-family: serif;
}

a:hover {
  text-decoration: none !important;
  color: white !important;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

section {
  width: 100%;
  background-color: white;
}

.non-intro {
  padding: 0 !important;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
  max-width: 1480px;
  margin-right: auto;
  margin-left: auto;
}

.non-intro p {
  text-align: center;
  padding: 10px;
}

.intro {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.intro-content {
  position: relative;
  z-index: 5;
  display: table;
  height: 100%;
  width: 100%;
}

.content-container {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  color: white;
  text-shadow: 0 1px 1px #101010;
  text-transform: uppercase;
  font-size: 44px;
}

.content-container h1 {
  margin: 0;
}

.desc-container h2 {
  display: inline-block;
  position: relative;
  color: white;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro-big {
  color: #edc27b;
}

.nav {
  z-index: 10000;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #101010;
  display: flex;
  align-items: center;
}

.nav-options-container {
  padding: 30px;
}

.nav a {
  float: left;
  font-weight: 400;
  text-transform: lowercase;
  color: white;
  text-decoration-style: solid;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  margin-right: 50px;
}

.nav a:before,
.overlay a:before,
.skill a:before {
  background: #edc27b;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 0 !important;
  box-sizing: inherit !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav a:hover:before,
.overlay a:hover:before,
.skill a:hover:before {
  width: 100% !important;
}

nav .selected::before {
  width: 100% !important;
}

.nav-mobile-options-container {
  display: none;
  background: #101010;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  top: 60px;
}

.nav-mobile-options-container a {
  float: left;
  margin-right: 100%;
  display: block;
  margin-left: 3%;
  margin-bottom: 30px;
}

.menu-active {
  display: none;
}

.nav-mobile {
  display: none;
  width: 100%;
}

.hamburger {
  left: 0;
  font-size: 15px;
  width: 1em;
  height: 1em;
  padding: 0;
  margin-left: 3%;
  float: left;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  vertical-align: middle;

  border: 0 none;
  background: transparent;
}

/**
 * Button height fix for Firefox
 */
.hamburger::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}

/**
 * Focus fix for Chrome
 */
.hamburger:focus {
  outline: 0;
}

.hamburger:before,
.hamburger:after {
  content: "";
}

.hamburger:before,
.hamburger .icon,
.hamburger:after {
  display: block;

  width: 100%;
  height: 0.2em;
  margin: 0 0 0.2em;

  transition: transform 0.2s ease-in-out;

  border-radius: 0.05em;
  background: white;
}

/**
 * Styles for the active `.hamburger` icon
 */
.hamburger.active:before,
.hamburger.active .icon,
.hamburger.active:after {
  background: white;
}
.hamburger.hamburger-cancel.active .icon {
  transform: scale(0);
}

.hamburger.hamburger-cancel.active:before {
  transform: translateY(0.4em) rotate(135deg);
}

.hamburger.hamburger-cancel.active:after {
  transform: translateY(-0.4em) rotate(-135deg);
}

.section-title {
  border-bottom: 6px solid #edc27b;
  padding-bottom: 7px;
  width: auto;
  font-size: 36px;
  font-weight: 400;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 28px;
}

.personal-img {
  height: auto;
  width: 100%;
}

.about-container div {
  padding: 30px;
  line-height: 135%;
  float: left;
  box-sizing: inherit !important;
}
.row {
  margin: 0 !important;
}

.exp-link {
  padding: 0;
  padding-top: 30px;
  padding-left: 30px;
}

.exp-link img {
  height: auto;
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

figure {
  position: relative;
}

.fig-captions,
.fig-captions::before,
.fig-captions::after {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.overlay {
  background: transparent;
  bottom: 10px;
  content: "";
  left: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay h5 {
  opacity: 0;
  line-height: 130%;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
}

.overlay a {
  color: #edc27b;
  position: relative;
  width: fit-content;
}

.overlay a:hover {
  color: #edc27b !important;
}

.fig-captions::before,
.fig-captions::after {
  box-sizing: inherit !important;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}

.fig-captions::before,
.fig-captions::after {
  box-sizing: inherit;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}

.fig-captions::before {
  border-top: 10px solid #edc27b;
  border-bottom: 10px solid #edc27b;
  transform: scale(0, 1);
  transition: transform 0.5s;
}
.fig-captions::after {
  border-left: 10px solid #edc27b;
  border-right: 10px solid #edc27b;
  transform: scale(1, 0);
  transition: transform 0.5s;
}

.fig-captions:hover .overlay {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -ms-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.fig-captions:hover .overlay h5 {
  opacity: 1;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fig-captions:hover::before,
.fig-captions:hover::after {
  transform: scale(1, 1);
  transition: transform 0.5s;
}

.skills-container {
  padding-top: 50px;
}

.skill {
  padding: 50px;
}

i.fas,
i.fab {
  display: inline-block;
  border-radius: 90px;
  background-color: #101010;
  color: #edc27b;
  font-size: 55px;
  border: 4px solid #edc27b;
  padding: 0.6em 0.6em;
  font-weight: bold;
}

.skill a {
  color: #edc27b;
  position: relative;
}

.skill a:hover {
  color: #edc27b !important;
}

.fab-img {
  display: inline-block;
  border-radius: 90px;
  background-color: #101010;
  color: #edc27b;
  padding: 33px !important;
  border: 4px solid #edc27b;
  padding: 0.5em 0.6em;
  font-weight: bold;
}

.fab-img img {
  width: 50px;
  height: 50px;
}

.skill h3 {
  color: #8d8d8d;
  display: block;
  position: relative;
}

.input-container .row {
  padding-top: 50px;
}

.input-field {
  width: 100%;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  margin-top: 50px;
}

.input-area {
  width: 100%;
  border: none;
  border-bottom: 1px solid #8d8d8d;
  resize: vertical;
  height: 200px;
}

.input-field:focus,
.input-area:focus {
  outline: none;
}

.submit-button {
  background: transparent;
  border: 3px solid #edc27b;
  cursor: pointer;
  float: left;
  letter-spacing: 2px;
  outline: none;
  overflow: hidden;
  padding: 25px 80px;
  z-index: 1;
  position: relative;
  color: #edc27b;
  font-family: "baron-neue-regular", "Helvetica", "Arial" !important;
  text-transform: lowercase;
  font-weight: 400;
}

.submit-button:after {
  content: '';
  height: 160px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: -1;
  width: 100% !important;
}

.submit-button:hover:after{
  background: #101010;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
}

@media only screen and (max-width: 60em) {
  .content-container {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .content-container h1 {
    font-size: 25px;
  }
  .content-container h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px) {
  .skill {
    padding: 20px;
  }

  .nav-options-container {
    display: none;
  }

  .about-container {
    width: 100%;
  }

  .nav-mobile {
    display: block;
  }

  .menu-active {
    display: block;
  }

  .section-title {
    font-size: 30px;
  }

  .content-container h1 {
    font-size: 30px;
  }
  .content-container h2 {
    font-size: 25px;
  }

  .non-intro {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 1024px) {
  .fig-captions:hover::before,
  .fig-captions:hover::after {
    transform: scale(0, 0);
    transition: transform 0s;
  }

  .fig-captions:hover .overlay {
    background: transparent;
    -webkit-transition: background 0s;
    -moz-transition: background 0s;
    -ms-transition: background 0s;
    -o-transition: background 0s;
    transition: background 0s;
  }

  .fig-captions {
    position: relative;
  }

  .overlay {
    position: relative;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    justify-content: flex-start;
  }

  .overlay h5 {
    opacity: 1;
    color: black;
    text-align: left;
    font-size: 15px;
  }

  .fig-captions:hover .overlay h5 {
    opacity: 1;
    -webkit-animation: fadeIn 0s;
    -moz-animation: fadeIn 0s;
    -o-animation: fadeIn 0s;
    animation: fadeIn 0s;
  }

  .exp-link {
    padding-right: 30px;
  }
}
