$primaryColor: #fff;
$secondaryColor: #333;
$steps: 20;
@font-face {
  font-family: "baron-neue-regular";
  src: url("./fonts/baron_neue-webfont.woff");
}

html,
body {
  height: 100%;
  width: 100%;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
strong,
a {
  font-family: "baron-neue-regular", "Helvetica", "Arial";
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

section {
  width: 100%;
  height: 100%;
  background-color: white;
}

.intro {
  /* background: /* linear-gradient(
    rgba(0, 35, 102, 0.7), 
    rgba(0, 35, 102, 0.7)
  ), url("./img/sakura.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
  width: 100%;
  height: 100%;
  background-color: #000;
}

.intro-content {
  position: relative;
  z-index: 5;
  display: table;
  height: 100%;
  width: 100%;
}

.content-container {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
  color: white;
  text-shadow: 0 1px 1px #101010;
  text-transform: uppercase;
  font-size: 44px;
}

@media only screen and (max-width: 60em) {
  .content-container {
    font-size: 20px;
  }
}

@media only screen and (max-width: 320px) {
  .content-container {
    font-size: 15px;
  }
}

.content-container h1 {
  margin: 0;
}

.desc-container h2 {
  display: inline-block;
  position: relative;
  color: white;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro-big {
  color: #edc27b;
}

.nav {
  z-index: 10;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #101010;
  display: flex;
  align-items: center;
}

.nav-options-container {
  padding: 30px;
}

.nav a {
  float: left;
  font-weight: 400;
  text-transform: lowercase;
  color: white;
  text-decoration-style: solid;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 2px;
  position: relative;
  margin-right: 50px;
}

.nav a:before {
  background: #edc27b;
  bottom: -2px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav a:hover:before {
  width: 100%;
}

nav .selected:before {
  width: 100%;
}

.nav-mobile-options-container {
  display: none;
  background: #101010;
  width: 100%;
  position: fixed;
  box-sizing:border-box;
  top: 60px;
}

.nav-mobile-options-container a{
  float: left;
  margin-right: 100%;
  display: block;
  margin-left: 5%;
  margin-bottom: 30px;
}

.menu-active{
  display: none;
}

.nav-mobile{
  display: none;
  width: 100%;
}

.hamburger {
  left: 0;
  font-size: 30px;
  width: 1em;
  height: 1em;
  padding: 0;
  margin-left: 5%;
  float: left;
  cursor: pointer;
  transition: transform .2s ease-in-out;
  vertical-align: middle;

  border: 0 none;
  background: transparent;
}

/**
 * Button height fix for Firefox
 */
.hamburger::-moz-focus-inner {
  padding: 0;
  border: 0 none;
}

/**
 * Focus fix for Chrome
 */
.hamburger:focus {
  outline: 0;
}

.hamburger:before,
.hamburger:after {
  content: "";
}

.hamburger:before,
.hamburger .icon,
.hamburger:after {
  display: block;

  width: 100%;
  height: .2em;
  margin: 0 0 .2em;

  transition: transform .2s ease-in-out;

  border-radius: .05em;
  background: white;
}

/**
 * Styles for the active `.hamburger` icon
 */
.hamburger.active:before,
.hamburger.active .icon,
.hamburger.active:after {
  background: white;
}
.hamburger.hamburger-cancel.active .icon {
  transform: scale(0);
}

.hamburger.hamburger-cancel.active:before {
  transform: translateY(.4em) rotate(135deg);
}

.hamburger.hamburger-cancel.active:after {
  transform: translateY(-.4em) rotate(-135deg);
}

/**
 * Styles for the active `.hamburger` icon
 */

@media only screen and (max-width: 768px) {
  .nav-options-container{
    display: none;
  }

  .nav-mobile{
    display: block;
  }

  .menu-active{
    display: block;
  }

  
}






